.gallery {
  margin: 0 auto;
  padding-left: 15px;
  padding-right: 15px;
  max-width: 480px;
  min-width: 320px;

  @media (min-width: 768px) {
    max-width: 768px;
  }

  @media (min-width: 1200px) {
    max-width: 1600px;
  }
}

h1,
h2,
h3,
h4,
h5,
p {
  margin: 0;
  padding: 0;
}

img {
  display: block;
  height: auto;
  max-width: 100%;
}
